
<div class="d-flex">

  <!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-light">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
  <!-- Sidebar end -->

  <div class="container">
    <div class="row p-3">
        <div class="col">
          <h5>Buscar: </h5>
          <input type="text" placeholder="Buscar gifs..." class="form-control">
        </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        lorem ipsum
      </div>
    </div>
  </div>
</div>